*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
#wrap{
    overflow: hidden;
}
.container{
    float: left;
    padding: 0 6px;
}
.gallery{
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}
.gallery:hover{
    border-color: black;

}
.container a img{
    width: 100%;
}
@media screen and (max-width:500px) {
    .container{
        width: 100%;
    } 
}
@media screen and (min-width:500px) {
    .container{
        width: 50%;
    } 
}
@media screen and (min-width:700px){
    .container{
       width: 25%;
   } 
   
}